@model MvcApplication4.Models.ProductMast

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ProductMast</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoryMast.CategoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryMast.CategoryName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
