<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jqueryui")


</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                       @* <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        <li>@Html.ActionLink("Home Page", "Pages", "Home")</li>
                        <li>@Html.ActionLink("Product", "Pages", "Home", new { pageName = "Product" }, null)</li>
                        <li>@*@Html.ActionLink("Services", "Pages", "Home", new { pageName="Services"},null)*@</li>
                        @*<li>@Html.ActionLink("My Page", "Index", "My")</li>*@
                        <li>@Html.ActionLink("Product", "AddProduct", "Product")</li>
                        <li>@Html.ActionLink("Product View Model", "AddProductFromViewModel", "Product")</li>
                        <li>@Html.ActionLink("Create", "Create", "Purchase")</li>
                        @*<li>@Html.ActionLink("Product 1", "Create", "Default1")</li>*@
                        @*<li>@Html.ActionLink("Get Contacts", "GetContacts", "Purchase", new { customerID = 1 }, null)</li>*@
                        @*<li>@Html.ActionLink("Edit", "Edit", "Purchase", new { purchaseID = 2 }, null)</li>*@
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>


    @RenderSection("scripts", required: false)
</body>
</html>
